#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    chown system system /dev/xiaomi-touch
    chmod 0664 /dev/xiaomi-touch
    chown system system /dev/nanodev0
    chmod 0664 /dev/nanodev0
    start xiaomi-keyboard

service xiaomi-pen /vendor/bin/xiaomi-pen ${persist.vendor.parts.pen}
    class main
    user system
    group system input
    oneshot
    disabled

service xiaomi-keyboard /vendor/bin/xiaomi-keyboard
    class main
    user system
    group system input
    oneshot
    disabled

on property:persist.vendor.parts.pen=*
    start xiaomi-pen
